*.zip
banned-ips.json
banned-players.json
cache/*
libraries/*
help.yml
eula.txt
commands.yml
logs/*
ops.json
permissions.yml
plugins/BentoBox/locales/*
plugins/DynamicShop/Log/*
plugins/LuckPerms/translations/*
plugins/UltimateStacker/locales/*
wepif.yml
whitelist.json
versions/*
usercache.json
version_history.json
caveblock_world/advancements/*
caveblock_world/playerdata/*
plugins/ServerListPlus/PlayerCache.json
plugins/Essentials/userdata/*
plugins/Essentials/usermap.csv
plugins/BentoBox/locales/*
